@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Varela+Round&display=swap');

body {
    font-family: "Varela Round", sans-serif;
    text-align: center;
}

header {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: "Bubblegum Sans", sans-serif;
    font-size: 3rem;
    display: inline-block;
    margin: 5px auto;
}

#rules {
    font-size: 1rem;
    position: absolute;
    left: 75%;
    margin-right: 5px;
    margin-top: 5px;
}

h2 {
    margin: 5px 0;
    display: inline-block;
    text-align: center;
    font-size: 1.25rem;
}

h3 {
    margin: 5px 0 10px;
    text-align: center;
    font-size: 1rem;
}

p {
    font-size: 1rem;
    margin: 0;
}

#game-area {
    margin: 0 15%;
    padding: 5px 15px;
    background-color: lightgrey;
    border-radius: 20px;
    text-align: center;
}

.gamer, #result {
    display: flex;
    justify-content: center;
}

.selection {
    width: 80px;
    height: 80px;
    background: none;
    border: none;
    padding: 0 0;
    margin: 0 10px;
}

.caption {
    text-align: center;
}

#computer {
    margin-top: 50px;
}

.scenarios {
    height: 250px;
    width: 250px;
    margin: 0 25px;
}

.game {    
    height: 150px;
    width: 150px;
    padding: 0 50px;
}

.start-score {
    margin-bottom: 10px;
    text-align: center;
}

.progress-score {
    margin-top: 75px;
    margin-bottom: 10px;
    text-align: center;
}

.score-point {
    text-transform: uppercase;
    margin-top: 25px;
}

#replay {
    text-transform: uppercase;
    margin: 10px 0;
}

.scoreboard {
    font-size: 1.25rem;
    margin-top: 5px;
}

.final-score {
    font-weight: bold;
    margin-top: 10px 0;
}

button {
    padding: 5px;
    margin: 0 auto;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 100%;
}

button:hover {
    cursor: pointer;
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    
    h1 {
        font-size: 2.25rem;
    }

    #game-area {
        margin: 0 5%;
    }

    #rules {
        left: 80%;
    }

}

@media screen and (max-width: 650px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        margin: 5px 0;
        font-size: 1rem;
    }
    
    h3 {
        margin: 5px 0 10px;
        font-size: 0.8rem;
    }

    #rules {
        font-size: 0.85rem;
        position: absolute;
        left: 75%;
    }
    
    .selection {
        width: 60px;
        height: 60px;
        margin: 0 5px;
    }
    
    .game {    
        height: 125px;
        width: 125px;
        padding: 0 25px;
    }  

}

@media screen and (max-width: 450px) {

    h1 {
        font-size: 1.5rem;
        /*width: 280px;*/
    }

    h2 {
        margin: 5px 0;
        font-size: 0.8rem;
    }
    
    h3 {
        margin: 5px 0 5px;
        font-size: 0.65rem;
    }

    #rules {
        font-size: 0.8rem;
        position: absolute;
        left: 70%;
    }
    
    .gamer {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .selection {
        margin: 0 16px 25px 16px;
    }

    .caption {
        margin-top: 3px;
        font-size: 0.8rem;
    }

    #computer {
        margin-top: 10px;
    }

    .scenarios {
        height: 175px;
        width: 175px;
    }

    .game {    
        height: 100px;
        width: 100px;
        padding: 0 10px;
        line-height: 15px;
    }

    .progress-score {
        margin-top: 60px;
    }

    .scoreboard {
        font-size: 1rem;
        margin-top: 5px;
    }

    .score-point {
        font-size: 0.75rem;
        margin-top: 5px;
    }

    button {
        padding: 3px;
        margin: 0 auto;
        border-radius: 5px;
    }

}

@media screen and (max-width: 360px) {

    h1 {
        font-size: 1.25rem;
        width: 280px;
    }

    h2 {
        margin: 5px 0;
        font-size: 0.8rem;
    }
    
    h3 {
        margin: 5px 0 5px;
        font-size: 0.8rem;
    }

    #rules {
        font-size: 0.8rem;
        position: absolute;
        left: 70%;
    }
    
    .gamer {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .selection {
        width: 50px;
        height: 50px;
        margin: 0 10px 25px 10px;
    }

    .caption {
        margin-top: 3px;
        font-size: 0.75rem;
    }

    #computer {
        margin-top: 10px;
    }

    .scenarios {
        height: 150px;
        width: 150px;
    }

    .game {    
        height: 75px;
        width: 75px;
        padding: 0 10px;
        line-height: 15px;
    }

    .progress-score {
        margin-top: 60px;
    }

    .scoreboard {
        font-size: 0.8rem;
        margin-top: 5px;
    }

    .score-point {
        font-size: 0.75rem;
        margin-top: 8px;
    }

    .final-score {
        font-size: 0.75rem;
    }

    #replay {
        font-size: 0.8rem;
    }

    button {
        padding: 3px;
        margin: 0 auto;
        border-radius: 5px;
    }

}