@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Varela+Round&display=swap');

body {
    font-family: "Varela Round", sans-serif;
}

h1 {
    font-family: "Bubblegum Sans", sans-serif;
}

#game-area {
    margin: 5%;
}

.gamer {
    display: flex;
    justify-content: space-between;
}

.selection {
    width: 18%;
}

img {
    width: 90%;
}