@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Varela+Round&display=swap');

body {
    font-family: "Varela Round", sans-serif;
}

header {
    height: 75px;
    text-align: center;
}

h1 {
    font-family: "Bubblegum Sans", sans-serif;
    font-size: 3rem;
    display: inline-block;
    margin: 5px auto;
}

#rules {
    font-size: 1rem;
    position: absolute;
    margin-left: 5%;
    margin-top: 10px;
}

h2, #scoring-area {
    margin: 5px 0;
    text-align: center;
    font-size: 1.25rem;
}

h3 {
    margin: 5px 0 10px;
    text-align: center;
    font-size: 1rem;
}

p, #reset {
    font-size: 1rem;
    margin: 0;
}

#game-area {
    height: 500px;
    margin: 0 15%;
    padding: 5px 15px 20px;
    background-color: lightgrey;
    border-radius: 20px;
}

.gamer, #result {
    display: flex;
    justify-content: center;
}

.selection {
    width: 80px;
    height: 80px;
    background: none;
    border: none;
    padding: 0 0;
    margin: 0 10px;
}

figcaption {
    text-align: center;
}

#computer {
    margin-top: 50px;
}

.scenarios {
    height: 250px;
    width: 250px;
    margin: 0 25px;
}

.game {    
    height: 150px;
    width: 150px;
    padding: 0 50px;
}

.choice {
    width: 18%;
    margin-left: 25%;
    background: none;
    border: none;
}

.outcome {
    margin-right: auto;
    margin-top: auto;
    padding-left: 10%;
}

.start-score {
    text-align: center;
}

.progress-score {
    margin-top: 50px;
    text-align: center;
}

.score-point {
    text-transform: uppercase;
    margin-top: 25px;
}

.game-result {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

#replay {
    text-transform: uppercase;
    margin: 10px 0;
}

.scoreboard {
    font-size: 1.25rem;
    margin-top: 5px;
}

.final-score {
    font-weight: bold;
    margin-top: 10px 0;
}

button {
    padding: 5px;
    margin: 0 auto;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 100%;
}

button:hover {
    cursor: pointer;
    font-weight: bold;
}